---
import Container from "@components/ui/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "@astrojs/image/components";
import siteIcon from "assets/media/site_icon.png";
import { Icon } from "astro-icon";

interface MenuItemEntries {
  title: string;
  icon?: string;
  path: string;
  children?: MenuItemChild[];
}
interface MenuItemChild {
  title: string;
  path: string;
}

const menuitems: MenuItemEntries[] = [
  {
    title: "Home",
    path: "/",
    icon: "round-home",
  },
  {
    title: "Team",
    path: "/#team",
    icon: "cat",
  },
  {
    title: "Download",
    path: "/#downloads",
    icon: "round-cloud-download",
  },
  {
    title: "Docs",
    path: "/docs",
    icon: "baseline-book",
  },
  {
    title: "Discord",
    path: "https://discord.gg/medicat",
    icon: "baseline-discord",
  },
];
---

<script>
  const menuButton = document.getElementById("astronav-menu");
  menuButton?.addEventListener("click", (e) => {
    [...document.querySelectorAll(".astronav-toggle")].forEach((el) => {
      e.preventDefault();
      el.classList.toggle("hidden");
    });
  });
</script>
<Container>
  <header
    class="flex flex-col lg:flex-row justify-between items-center mx-auto max-w-[90%] my-5"
  >
    <Astronav client:load>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/">
          <Picture
            src={siteIcon}
            alt="Medicat USB"
            widths={[100, 200, 300]}
            aspectRatio="1:1"
            sizes="(max-width: 50px) 100vw, 50px"
            loading="eager"
            format="avif"
            class="hover:animate-wiggle"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon client:load class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems
        client:load
        class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0"
      >
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex gap-2 py-2 text-gray-600 hover:text-gray-900"
                    >
                      {item.icon && <Icon class="w-6 h-6" name={item.icon} />}
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
